:root {
    --color-dark: #27292a;
    --color-darkest: #1f2122;
    --color-light: #fff;
    --color-primary: #ec6090;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');
body {
    background-color: var(--color-darkest);
    font-family: 'Poppins', sans-serif;
}
ul {
    list-style-type: none;
}
a{
    text-decoration: none;
}